<!DOCTYPE html>
<html lang="en">

<body>
    <div class="header">
        <div class="topnav">
            <div class="nav-item">
                <a id="logo" href="#home">PORTAL</a>
                <div class="vl"></div>
                <a href="#contact">Financianls</a>
                <a href="#contact">Stuff Managements</a>
            </div>
            <div class="nav-item">
                <p id="welcome">Welcome</p><a id="profile-link" href="../profile.php">Hossain, Ajran</a>
                <a href="">Setting</a>
                <a href="">Logout</a>
            </div>
        </div>
    </div>
</body>

</html>